requests~=2.24.0
beautifulsoup4~=4.9.1
validator-collection~=1.4.2
soupsieve~=2.0.1
attrs~=20.2.0
certifi~=2020.6.20
chardet~=3.0.4
cryptography~=3.1
urllib3~=1.24.3
idna~=2.10
jsonschema~=3.2.0
pyrsistent~=0.17.3
six~=1.15.0
setuptools~=49.6.0
docutils~=0.15.2
zipp~=3.1.0
jmespath~=0.10.0
botocore~=1.17.60
boto3~=1.14.60
s3transfer~=0.3.3
python-dateutil~=2.8.1